<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>system financial crises</title>
    <!-- 引入 layui.css -->
    <link href="//unpkg.com/layui@2.9.18/dist/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/home.css"> -->
    <style>
        .info-tip {
            margin-bottom: 8px;
        }

        .progress-show {
            flex: 1;
            padding: 20px 10px;
            height: 100% !important;
        }

        .start {
            height: 96% !important;
        }

        .start-btn {
            height: 100% !important;
            width: 100% !important;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }

        .layui-progress {
            height: 96% !important;
        }

        .layui-progress-bar {
            height: 100%;
            background-color: #16b77788;
        }

        .result-show {
            flex: 1;
            padding: 0px 10px;
            height: 100%;
        }

        .output-block {
            height: calc(100% - 50px);
            border: 1px solid #66666644;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            padding: 8px 12px;
        }
    </style>
</head>

<body>
    <div class="page">
        <div class="title">
            <h2>系统性金融风险预测</h2>
        </div>
        <div class="layui-tab layui-tab-brief" lay-filter="test-handle" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-allowclose="false" lay-id="11">指标构建</li>
                <li lay-allowclose="false" lay-id="22">模型训练</li>
                <li lay-allowclose="false" lay-id="33">风险预测</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="content-page">
                        <div class="file-recieve">
                            <div class="info-tip">下面两种方式二选一即可</div>
                            <div class="layui-form">
                                <div class="form-label">输入待处理文件夹路径</div>
                                <div class="layui-input-wrap">
                                    <input type="text" lay-affix="clear" placeholder="C:\Users\Desktop\my-files"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form">
                                <div class="form-label">
                                    <i class="layui-icon layui-icon-file" style="font-size: 12px; color: #1E9FFF;"></i>
                                    上传文件
                                </div>
                                <div class="layui-upload-drag" id="ID-upload-ind-drag">
                                    <i class="layui-icon layui-icon-upload"></i>
                                    <div>点击上传，或将文件拖拽到此处(.csv,.xlsx,.xls)</div>
                                    <div class="layui-hide" id="ID-upload-ind-preview">
                                        <hr>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">是否画图</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="open" lay-skin="switch" lay-filter="switchDraw"
                                            title="ON|OFF">
                                    </div>
                                </div>
                                <div id="draw-threshold-select" class="layui-form-item" style="display: none;">
                                    <label class="layui-form-label">风险阈值</label>
                                    <div class="layui-col-md6">
                                        <select lay-search="" lay-creatable="">
                                            <option value="">自定义输入</option>
                                            <option value="1">默认</option>
                                            <option value="2">不设置</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="draw-style-select" class="layui-form-item" style="display: none;">
                                    <label class="layui-form-label">画图风格</label>
                                    <div class="layui-col-md6">
                                        <select>
                                            <option value="">请选择</option>
                                            <option value="AAA">1</option>
                                            <option value="BBB">2</option>
                                            <option value="CCC" selected>3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">是否归一化</label>
                                    <div class="layui-input-block">
                                        <input type="checkbox" name="open" lay-skin="switch" lay-filter="switchNormal"
                                            title="ON|OFF">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-show">
                            <div id="start-ind-btn" class="start">
                                <button type="button" lay-on="loading" class="layui-btn start-btn">构造</button>
                            </div>
                            <div id="ind-struct-progress" class="layui-progress" style="display: none;"
                                lay-filter="ind-struct-progress">
                                <div class="layui-progress-bar" lay-percent="0%"></div>
                            </div>
                        </div>
                        <div class="result-show">
                            <div class="info-tip">输出</div>
                            <div class="output-block"></div>
                        </div>
                    </div>
                </div>
                <div class="layui-tab-item">内容-2</div>
                <div class="layui-tab-item">内容-3</div>
            </div>
        </div>
    </div>
    <script src="//unpkg.com/layui@2.9.18/dist/layui.js"></script>
    <script>
        layui.use(function () {
            var element = layui.element;

            // hash 地址定位
            var hashName = 'tabid'; // hash 名称
            var layid = location.hash.replace(new RegExp('^#' + hashName + '='), ''); // 获取 lay-id 值

            // 初始切换
            element.tabChange('test-hash', layid);
            // 切换事件
            element.on('tab(test-hash)', function (obj) {
                location.hash = hashName + '=' + this.getAttribute('lay-id');
            });

            // element.render('progress', 'ind-filter-progress');
            var form = layui.form;
            form.on('switch(switchDraw)', function (data) {
                let thresholdSelect = document.getElementById('draw-threshold-select');
                let styleSelect = document.getElementById('draw-style-select');
                if (this.checked) {
                    thresholdSelect.style.display = 'block';
                    styleSelect.style.display = 'block';
                } else {
                    thresholdSelect.style.display = 'none';
                    styleSelect.style.display = 'none';
                }
            });

            var upload = layui.upload;
            var $ = layui.$;
            // 渲染
            upload.render({
                elem: '#ID-upload-ind-drag',
                url: '/', // 实际使用时改成您自己的上传接口即可。
                accept: 'file',
                exts: 'csv|xlsx|xls',
                before: function (obj) { // obj 参数同 choose
                    console.log(obj);
                },
                done: function (res) {
                    layer.msg('上传成功');
                    console.log(res);
                    // $('#ID-upload-ind-preview').removeClass('layui-hide')
                    //     .find('div').innerHTML = res.filename;
                },
                error: function (index, upload, res, xhr) {
                    console.log(index); // 当前文件的索引
                    // upload(); 重新上传的方法
                    console.log(res);  // 返回值（纯文本）
                    console.log(JSON.parse(res));  // 返回值（json）
                    console.log(xhr);
                }
            });

            var util = layui.util;

            // 普通事件
            util.on('lay-on', {
                // 模拟 loading
                loading: function (othis) {
                    let progressDom = document.getElementById('ind-struct-progress');
                    let startBtnDom = document.getElementById('start-ind-btn');
                    progressDom.style.display = 'block';
                    startBtnDom.style.display = 'none';
                    var n = 0;
                    var timer = setInterval(function () {
                        n = n + Math.random() * 10 | 0;
                        if (n > 100) {
                            n = 100;
                            clearInterval(timer);
                            progressDom.style.display = 'none';
                            startBtnDom.style.display = 'block';
                        }
                        element.progress('ind-struct-progress', n + '%');
                    }, 100 + Math.random() * 1000);
                }
            });
        });
    </script>
</body>

</html>